body {
    margin: auto;
    padding-bottom: 20px;
    font-family: monospace;
    text-align: left;
    font-size: 16px;
    background-image: url(https://www.dropbox.com/scl/fi/e4m3fem97djwk49o6fi4d/7ee0a579ae6ecb4b58e28d0af4cd04a4.png?rlkey=jkoj6bcpl220tj9gag2y0vpyy&st=7a268fj4&raw=1);
    background-size: 500px;
    background-repeat: repeat-x;
}

h1 {
    padding-top: 150px;
    font-size: 30px;
    color:rgb(199, 33, 0);
    font-weight: 600;
    text-align: center;
}

footer {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
}

.scroller {
    overflow-y: auto; 
    max-width: 500px; 
    max-height: 65vh; 
    margin: 0 auto;
}
.name {
    font-size: 16px;
    margin: auto;
    padding-bottom: 5px;
}

.quote {
    font-size: 16px;
    margin: auto;
    padding-bottom: 30px;
}

.desc {
    font-style: italic;
    margin: auto;
    padding-left: 20px;
    padding-bottom: 5px;
}

.action {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}